body {
  background-color: #3c3c3c;
}

h1 {
  text-align: center;
  position:relative;
  margin-top: 300px;
  text-decoration: none;
}

a:link,a:hover,a:visited,a:active {
  text-decoration: none;
  color: #FA47B8;
}